.popup {
    max-width: 430px;
    min-height: 330px;

    display: block;
    position: absolute;
    /* height: auto; */
    padding: 34px 0 37px 0;
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    margin: auto;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}