.popup-edit__button-close {
    background: url(../../../images/close-Icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -48px;
    right: -38px;
}

.popup-edit__button-close:hover {
    opacity: 0.6;
    cursor: pointer;
}