.popup__user-name {
    border: none;
    margin-top: 38px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 13px;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 650px) {
    .popup__user-name {
        margin-top: 75px;
    }
    
}