.popup-1 {
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-width: 430px;
    box-sizing: border-box;
    padding: 34px 36px 37px 36px;
    position: relative;
    margin: auto;
}

.popup-edit__button-close-1 {
    position: absolute;
    top: -40px;
    right: -40px;
    background: url(../../../images/close-Icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
}

.popup-edit__button-close-1:hover {
    opacity: 0.6;
    cursor: pointer;
}

.popup-edit__title-1 {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    max-width: 330px;
    margin: 0;

}



.popup-edit__button-save-1 {
    background: #000000;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 48px;
    width: 100%;
    min-height: 50px;
}

.popup-edit__button-save-1:hover {
    opacity: 0.8;
    cursor: pointer;
}


.popup-edit__user-name-1 {
    border: none;
    margin-top: 38px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 13px;
    outline: none;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.popup-edit__user-occupation-1 {
    border: none;
    margin-top: 30px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 13px;
    outline: none;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}