/* .popup__button-save_disabled {
    background: #FFFFFF;
    
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-top: 18px;
    width: 100%;
    min-height: 50px;
    padding: 0;
    
    opacity: 0.2;
    border: 1px solid #000000;
    border-radius: 2px;
}

.popup__button-save_disabled:hover {
    background: none;
    cursor: default;
}

@media screen and (max-width: 650px) {
    .popup__button-save_disabled {
        font-size: 14px;
        line-height: 17px;
        margin-top: 15px;
        min-height: 46px;
    }
    
} */


.popup__button-save_disabled {
    background: #000000;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 18px;
    width: 100%;
    min-height: 50px;
    padding: 0;
    border: none;
    opacity: 1;
}

.popup__button-save_disabled:hover {
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .popup__button-save_disabled {
        font-size: 14px;
        line-height: 17px;
        margin-top: 15px;
        min-height: 46px;
    }
    
}